:root {
   /* Main Color */
   --main-bg-color: #008040;
   /* Main Accent Color*/
   --main-accent-color: #007839;
}

 /* Reset page margin and padding */
 * {
   margin: 0;
   padding: 0;
   font-family: sans-serif;
   font-weight: lighter;
}

/* Set height, and flex on body */
body {
   height: 100vh;
   display: flex;
   flex-direction: column;
}

/* 
  Set main height to 100% to force the footer to the bottom. 
  Only works with flex, and 100vh on body.
*/
main {
   height: -webkit-fill-available;
   display: flex;
   flex-direction: column;
   align-items: center;
}

/* Banner
-------------------------------------------------- */

.banner {
   background-color: #FFF;
   height: 120px;
   display: flex;
   flex-direction: row;
   justify-content: space-evenly;
}

#banner_container {
   display: flex;
}

#banner_logo {
   height: 100px;
   width: 100px;
   margin: auto 0;
}

.banner h1 {
   font-size: 36px;
   margin: 1em 0 1em 0.6em;
   font-weight: lighter;
}

.banner ul {
   display: flex;
   margin-left: -50px;
}

.banner ul li {
   list-style-type: none;
   margin: 0 5px;
}

/* Navigation
-------------------------------------------------- */

.active {
   background-color: var(--main-accent-color);
}

.navigation {
   background-color: var(--main-bg-color);
   display: flex;
   justify-content: space-evenly;
}

.navigation ul {
   display: flex;
   flex-direction: row;
}

.navigation ul li {
   height: 60px;
   list-style-type: none;
   padding: 0 15px;
   display: flex;
   align-items: center;
}

.navigation ul li a {
   color: #FFF;
   text-decoration: none;
   height: inherit;
   display: flex;
   align-items: center;
}

.navigation ul li:hover {
   background-color: var(--main-accent-color);;
}

/* Footer
-------------------------------------------------- */

.page_footer {
   display: flex;
   justify-content: center;
   background-color: var(--main-bg-color);
}

.page_footer h3 {
   color: #FFF;
   font-weight: 200;
   margin: 20px 0 0px 15px;
}

.partner_container img {
   height: 80px;
   margin: 10px 15px;
   width: 230px;
}

.newsletter_container form {
   margin: 15px;
   display: flex;
   flex-direction: column;
}

.newsletter_container form label {
   color: #fff;
   margin-bottom: 8px
}

.newsletter_container form input {
   height: 25px;
   width: 280px;
   border-radius: 3px;
   border: 2px #000;
}

.newsletter_container form button {
   width: 70px;
   height: 35px;
   border-radius: 5px;
   border: 0px;
}

/* Slideshow
-------------------------------------------------- */

/* Slideshow container */
.slideshow-container {
   margin: 20px 0;
   width: 1080px;
}

.slideshow-container img {
    height: 100%;
    width: 100%;
}

/* Hide the images by default */
.mySlides {
   display: none;
   height: 100%;
}

/* Fading animation */
.fade {
   -webkit-animation-name: fade;
   -webkit-animation-duration: 5s;
   animation-direction: alternate;
   animation-name: fade;
   animation-duration: 5s;
}

@-webkit-keyframes fade {
   from {
       opacity: .5
   }

   to {
       opacity: 1
   }
}

@keyframes fade {
   from {
       opacity: .3
   }

   to {
       opacity: 1
   }
}

/* Articles 
-------------------------------------------------- */

.article_container {
   font-weight: 200;
   margin: 30px 0;
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
}

.article_container article {
   width: 335px;
}

.article_container article:nth-child(2) {
   margin: 0 35px;
}

.article_container article img {
   width: 100%;
   border: 1px solid #CDCDCD;
}

.article_container article h1 {
   font-size: 18pt;
   margin: 5px 0;
}

.article_container article p {
   margin-bottom: 10px;
}

.article_container article a {
   text-decoration: none;
   color: var(--main-accent-color);;
}

.info article h1 {
   font-size: 24pt;
}

/* News 
-------------------------------------------------- */

.news_container header h1 {
   font-size: 24pt;
   margin-bottom: -15px;
}

/* Departments 
-------------------------------------------------- */

.departments_container {
   margin: 30px 0;
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
}

.departments_container img {
   height: 530px;
}

.departments_container aside {
   display: flex;
   flex-direction: column;
   margin-right: 40px;
}

.departments_container aside p {
   margin: 10px 0;
}

.departments_container aside h1 {
   font-size: 22pt;
}

.departments_container aside a {
   text-decoration: none;
   color: var(--main-accent-color);
   margin: 5px 0;
}

/* Media Queries
-------------------------------------------------- */

@media only screen and (max-width: 760px) {
   .slideshow-container {
      margin: 10px 0;
      width: 500px;
   }

   .article_container article {
      margin: 50px 0;
      width: 500px;
   }

   .navigation {
      flex-direction: column;
   }

   .navigation ul {
      flex-direction: column;
   }

   .departments_container img {
      width: 500px;
   }

   .news_container header h1 {
      margin-left: 40px;
      margin-bottom: -60px;
   }
}