:root {
   /* Main Color */
   --main-bg-color: #008040;
   /* Main Accent Color*/
   --main-accent-color: #007839;
}

 /* Reset page margin and padding */
 * {
   margin: 0;
   padding: 0;
}

/* Set height, and flex on body */
body {
   height: 100vh;
   display: flex;
   flex-direction: column;
}

/* 
  Set main height to 100% to force the footer to the bottom. 
  Only works with flex, and 100vh on body.
*/
main {
   height: 100%;
   display: flex;
   flex-direction: column;
   align-items: center;
}

/* Banner
-------------------------------------------------- */

.banner {
   background-color: #FFF;
   height: 120px;
   display: flex;
   flex-direction: row;
   justify-content: space-evenly;
}

#banner_container {
   display: flex;
}

#banner_logo {
   height: 100px;
   width: 100px;
   margin: auto 0;
}

.banner h1 {
   font-size: 36px;
   font-family: sans-serif;
   margin: 1em 0 1em 0.6em;
   font-weight: lighter;
}

.banner ul {
   display: flex;
   margin-left: -50px;
}

.banner ul li {
   list-style-type: none;
   margin: 0 5px;
}

/* Navigation
-------------------------------------------------- */

.active {
   background-color: var(--main-accent-color);
}

.navigation {
   background-color: var(--main-bg-color);
   display: flex;
   justify-content: space-evenly;
}

.navigation ul {
   height: 60px;
   display: flex;
   flex-direction: row;
}

.navigation ul li {
   height: inherit;
   list-style-type: none;
   padding: 0 15px;
   display: flex;
   align-items: center;
}

.navigation ul li a {
   color: #FFF;
   text-decoration: none;
   font-family: sans-serif;
   height: inherit;
   display: flex;
   align-items: center;
}

.navigation ul li:hover {
   background-color: var(--main-accent-color);;
}

/* Footer
-------------------------------------------------- */

.page_footer {
   display: flex;
   justify-content: center;
   background-color: var(--main-bg-color);
}

.page_footer h3 {
   color: #FFF;
   font-family: sans-serif;
   font-weight: 200;
   margin: 20px 0 0px 15px;
}

.partner_container img {
   height: 80px;
   margin: 10px 15px;
   width: 230px;
}

.newsletter_container form {
   margin: 15px;
   display: flex;
   flex-direction: column;
}

.newsletter_container form label {
   color: #fff;
   font-family: sans-serif;
   margin-bottom: 8px
}

.newsletter_container form input {
   height: 25px;
   width: 280px;
   border-radius: 3px;
   border: 2px #000;
}

.newsletter_container form button {
   width: 70px;
   height: 35px;
   border-radius: 5px;
   border: 0px;
}

/* Slideshow
-------------------------------------------------- */

/* Slideshow container */
.slideshow-container {
   margin: 20px;
   width: 1080px;
   height: 350px;
}

/* Hide the images by default */
.mySlides {
   display: none;
   height: 100%;
}

/* Fading animation */
.fade {
   -webkit-animation-name: fade;
   -webkit-animation-duration: 2.5s;
   animation-direction: alternate;
   animation-name: fade;
   animation-duration: 2.5s;
}

@-webkit-keyframes fade {
   from {
       opacity: .3
   }

   to {
       opacity: 1
   }
}

@keyframes fade {
   from {
       opacity: .3
   }

   to {
       opacity: 1
   }
}

/* Information
-------------------------------------------------- */

.info_container {
   display: flex;
}

.info_container article {
   width: 350px;
}

.info_container article:nth-child(2) {
   width: 350px;
   margin: 0 15px;
}

.info_container article img {
   width: 350px;
   border: 1px solid #CDCDCD;
}

.info_container article p {
   margin-bottom: 10px;
}

.info_container article a {
   text-decoration: none;
   color: var(--main-accent-color);;
}