 
 /* Reset page margin and padding */
 * {
   margin: 0;
   padding: 0;
}

/* Set height, and flex on body */
body {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

/* 
  Set main height to 100% to force the footer to the bottom. 
  Only works with flex, and 100vh on body.
*/
main {
  height: 100%;
}

/* Banner
-------------------------------------------------- */

.banner {
  background-color: #FFF;
  height: 120px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

#banner_container {
   display: flex;
}

#banner_logo {
  height: 100px;
  width: 100px;
  margin: auto 0;
}

.banner h1 {
  font-size: 36px;
  font-family: sans-serif;
  margin: 1em 0 1em 0.6em;
  font-weight: lighter;
}

.banner ul {
  display: flex;
  margin-left: -50px;
}

.banner ul li {
  list-style-type: none;
  margin: 0 5px;
}

/* Navigation
-------------------------------------------------- */

.active {
   background-color: #007839;
}

.navigation {
  background-color: #008040;
  display: flex;
  justify-content: space-evenly;
}

.navigation ul {
  height: 60px;
  display: flex;
  flex-direction: row;
}

.navigation ul li {
  height: inherit;
  list-style-type: none;
  padding: 0 15px;
  display: flex;
  align-items: center;
}

.navigation ul li a {
  color: #FFF;
  text-decoration: none;
  font-family: sans-serif;
  height: 100%;
  display: flex;
  align-items: center;
}

.navigation ul li:hover {
   background-color: #007839;
}

/* Footer
-------------------------------------------------- */

footer {
   display: flex;
   justify-content: center;
   background-color: #008040;
}

footer h3 {
   color: #FFF;
   font-family: sans-serif;
   font-weight: 200;
   margin: 20px 0 0px 15px;
}

footer img {
  height: 80px;
  margin: 10px 15px;
  width: 230px;
}

footer form {
   margin: 15px;
   display: flex;
   flex-direction: column;
}

footer form label {
  color: #fff;
  font-family: sans-serif;
  margin-bottom: 8px
}

footer form input {
  height: 25px;
  width: 280px;
  border-radius: 3px;
  border: 2px #000;
}

footer form button {
  width: 70px;
  height: 35px;
  border-radius: 5px;
  border: 0px;
}